{
    "singleQuote": true,                  
    "semi": true,                         
    "tabWidth": 2,                        
    "useTabs": false,                     
    "trailingComma": "es5",               
    "bracketSpacing": true,               
    "vueIndentScriptAndStyle": true,      
    "endOfLine": "auto"                   
  }
  